<!-- I wrote this code -->
{% load static %}
  <div class="col col-lg-2 acc-leftbar">
    <div class="card">
        <!-- Card body START -->
        <div class="card-body position-relative">
          <a class="nav-item nav-link pt-2" id="nav-acc-tab" data-toggle="tab" href="/user/{{ user.id }}/friends/myfriends" role="tab" aria-controls="nav-acc" aria-selected="true"><i class="bi bi-person-lines-fill"></i>My Friends</a>
          <a class="nav-item nav-link pb-2" id="nav-acc-tab" data-toggle="tab" href="/user/{{ user.id }}/friends/friendrequests" role="tab" aria-controls="nav-acc" aria-selected="true"><i class="bi bi-person-square"></i>Friend Requests</a>
          <a class="nav-item nav-link pb-2" id="nav-acc-tab" data-toggle="tab" href="/user/{{ user.id }}/friends/search" role="tab" aria-controls="nav-acc" aria-selected="true"><i class="bi bi-person-square"></i>Search</a>
        </div>
        <!-- Card body END -->
      </div>
  </div>
<!-- end of code I wrote -->