<!-- I wrote this code --> 
{% extends 'empty.html' %} {% block content %} 
<!--Login-->
<div class="form-signin w-100 m-auto">
  {% load static %}
  <a
    href="/home"
    class="text-center align-items-center mb-2 mb-lg-0 text-dark text-decoration-none"
  >
    <img
      src="{% static 'images/logo.png' %}"
      alt="Logo"
      class="bi me-2 mb-2 logo"
      role="img"
      width="240px"
      aria-label="Bootstrap"
    />
  </a>
  <form method="POST">
    {% csrf_token %}
    {{ login_form }}
    
    {% if error %}
     <label style="color:red;display: block;"> {{ error }}</label>
    {% endif %}
    <button class="btn login btn-warning theme-color" style="color:white;font-size: 16px;" type="submit">Sign In</button>
  </form>
  <p class="text-center">
    Don't have an account? <a href="/signup">Create an account</a>.
  </p>
</div>

{% endblock %}
<!-- end of code I wrote -->
